# Module 10: Jupyter Notebook and Python Data Types

## Overview

While MATLAB excels in specialized numerical computations and simulations, Python's strength lies in its flexibility, extensive community support (open-source), and applications across a wide array of disciplines, making it a popular choice for diverse programming tasks.

Python is: 
1. the preferred language for data analysis, machine learning, and artificial intelligence tasks due to libraries like NumPy, Pandas, SciPy, and scikit-learn.
2. extensively used in scientific research and engineering computations due to its libraries like SciPy, SymPy, and Matplotlib, facilitating advanced scientific simulations and data visualization.

__What is a python library?__ 
<ul>
<li>A Python library, therefore, is a collection of Python modules containing functions, methods, and classes that allow you to perform specific actions without writing your own code for these tasks.</li>
<li>Python libraries are designed to simplify the programming process, and they cover a wide range of domains, such as data analysis, web development, machine learning, scientific computing, and more.</li>
<li>When you import a library into your Python script or program, you gain access to its predefined functions and classes.</li>
<li>By utilizing libraries, developers can save time and effort, they can leverage the existing solutions provided by these libraries, allowing for faster development and more efficient code. Python's extensive library ecosystem is one of the reasons why it is so popular among developers for various applications.</li>
</ul>

## Getting Started with Jupyter Notebook

There are two main types of cells in Jupyter notebook -- **Markdown** and **Code**. This is an example of a markdown cell. All this means, is that this cell does not run code. It is used for text, images, links, etc.

In [17]:
# This is an example of a code cell
# In a code cell, we use "#" to start our comments, which will not be executed.
# The following line, however, is python code
2+2

4

Some useful commands to make your text looks better: 
* **bold**
* *italic*

Similar to LaTex:
* $\sin(x)$
* $\int_0^1 e^x dx$

## Python Data Types

We will be working with many different Python data types, both built-in data types as well as data types defined in external libraries, like the library NumPy. It may seem that Python has an endless number of data types, but focus this week on really understanding the data types that are presented. In upcoming units, we may see less common data types that are presented once or twice, just as a way to show you that they exist.

### lists and strings

We start with two data types that seem very different but which share a lot of common functionalities.

We can:
* **Make a string using quotation marks (either single or double quotation marks).** 
* **Make a list by using square brackets.**

Here we define the variable `s` to be the string `"Hello, world"`.

You can check the type of an object by using the `type` function.

In [18]:
s = "Hello, world"

In [19]:
type(s) # Similar to the "class()" function in MATLAB

str

In [20]:
print(s)

Hello, world

Just like we made a string by using quotation marks, here we make a list by using square brackets.

In [21]:
mylist = [3,1,4,1]

In [1]:
mylist2 = [3 1 4 1] # Unlike MATLAB, we have to use commas in Python!

SyntaxError: invalid syntax (<ipython-input-1-826a7cef611a>, line 1)

In [5]:
type(mylist)

list

Here is one of the many similarities between strings and lists (as well as many other data types in Python): you can use the following indexing notation to extract a part of the object.  
Notice that **numbering in Python starts at 0.** We can refer the first element as the "zeroth" element or the "initial" element. For example, the initial element in the string `Hello, world` is the letter `H`.

In [6]:
s[0]

'H'

In [7]:
mylist[0]

3

Another similarity between strings and lists is that both have a notion of length.

In [8]:
len(s)

12

In [9]:
len(mylist)

4

Because indexing starts at 0 and the string `s` has length 12, using `s[12]` will raise an error.

In [10]:
s[len(s)]

IndexError: string index out of range

To get the last element in a string (or list) `s`, you can use `s[len(s)-1]`, but much more common is to use the negative indexing shorthand `s[-1]` (you can regard ``-`` as a direction).

In [22]:
s[len(s)-1]

'd'

In [23]:
s[-1]

'd'

In [24]:
mylist[-1]

1

**slicing**:  similar to the colon command from MATLAB (``a:dx:b``), but with a few key syntax differences. We use slicing method in Python to get a sequence of elements.
* **The right endpoint is not included**. For example: Calling `s[1:4]` will include `s[1]`, `s[2]`, `s[3]`, but it will not include `s[4]`.
* **When slicing with specified step size, the step size goes at the end** (like ``a:b:dx``). For example: `s[1:7:2]` will include `s[1]`, `s[3]`, `s[5]`, but not `s[7]` because right endpoints are not included.

In [25]:
s[1:4]

'ell'

In [26]:
s

'Hello, world'

The string `s[:5]` is the same as `s[0:5]`.  One benefit of the "right endpoint is not included" convention is that `s[:5]` will be length 5.

In [27]:
s[:5]

'Hello'

In [28]:
s[0:5]

'Hello'

Similarly, the notation `s[3:]` will go from the element `s[3]` to the end.

In [29]:
s[3:]

'lo, world'

In [30]:
mylist[1:]

[1, 4, 1]

In [31]:
mylist

[3, 1, 4, 1]

Example: `s[1:7:2]` will include `s[1]`, `s[3]`, `s[5]`, but not `s[7]` because right endpoints are not included.

In [32]:
s[1:7:2]

'el,'

In [33]:
s

'Hello, world'

The following gets all the even-indexed elements in `s`.

In [34]:
s[::2]

'Hlo ol'

Similarly, `s[1::2]` gets all the odd-indexed elements in `s` (we start at index 1 and go up in steps of 2).

In [35]:
s[1::2]

'el,wrd'

### lists, tuples, and sets

In the previous section, we considered two data types (lists and strings) which seem quite different.  Here we will look at three data types (lists, tuples, and sets) that on the surface seem very similar.  The difference between lists and tuples is more subtle, but sets are very different from these other two.

As we already saw, you can construct a list using square brackets.  To construct a tuple, you can use round parentheses, and to construct a set you can use curly brackets.

In [36]:
mylist = [3,1,4,1]

In [37]:
mytuple = (3,1,4,1)

In [38]:
myset = {3,1,4,1}

In [39]:
type(mytuple)

tuple

In [40]:
type(myset)

set

Here is a first difference with sets: like the mathematical notion of a set, sets in Python **do not allow repeated elements**.  Notice how there is only a single 1 shown in `myset`, even though we defined `myset` using `myset = {3,1,4,1}`.

In [41]:
myset

{1, 3, 4}

Here is a major difference between sets and the other two: sets do not support indexing.  This is because, like the mathematical notion of a set, **sets in Python do not have a notion of order**, so there is no "zeroth" element in a set.

In [42]:
myset[0]

TypeError: 'set' object is not subscriptable

In [43]:
mytuple[0]

3

In [44]:
mylist[0]

3

Sets, tuples, and lists all have a notion of length.

In [45]:
len(mytuple)

4

In [46]:
len(myset)

3

In [47]:
mylist[2]

4

Here is a first difference between lists and tuples: you can change elements in a list but not in a tuple.  This is usually described as saying that tuples are "immutable".

In [48]:
mylist[2] = 17

In [49]:
mylist

[3, 1, 17, 1]

In [50]:
mytuple[2]

4

In [51]:
mytuple[2] = 17

TypeError: 'tuple' object does not support item assignment

Another consequence of lists being mutable and tuples being immutable is that lists have an `append` method and tuples do not. `append`: adding a new element at the end of the list.

In [52]:
mylist.append(8)

In [53]:
mylist

[3, 1, 17, 1, 8]

In [54]:
mytuple.append(8) # cannot use "append" method to a tuple

AttributeError: 'tuple' object has no attribute 'append'

It might seem like lists are better than tuples in every way.  However, you can use tuples in certain situations where lists are not allowed.  As an example, an element in a set is allowed to be a tuple, but it cannot be a list.

In [55]:
newset = {3,1,(4,1)} # here (4,1) is a tuple, and is an element of this "newset".

In [56]:
type(newset)

set

In [57]:
len(newset)

3

In [58]:
newset2 = {3,1,[4,1]}

TypeError: unhashable type: 'list'

### ranges and for loops

Our next data type is commonly used with for-loops, and should remind you of the colon command (``a:dx:b``) from MATLAB.

In [11]:
mystring = "Hello, world"
mylist = [3,1,4,1]
mytuple = (3,1,4,1)
myset = {3,1,4,1}

Here is the basic syntax for **for-loops** in Python. Key things to notice:

* The ``:`` at the end of the first line
* The indentation to enter the for-loop

In [60]:
for x in mylist:
    print(x)

3
1
4
1

In [61]:
for x in mystring:
    print(x)

H
e
l
l
o
,

w
o
r
l
d

In the following example, Python repeats each of these three `print` statements each iteration looping through the for loop. (**White space matters!**)

In [62]:
for x in mystring:
    print(x)
    print(type(x))
    print(len(x))

H
<class 'str'>
1
e
<class 'str'>
1
l
<class 'str'>
1
l
<class 'str'>
1
o
<class 'str'>
1
,
<class 'str'>
1

<class 'str'>
1
w
<class 'str'>
1
o
<class 'str'>
1
r
<class 'str'>
1
l
<class 'str'>
1
d
<class 'str'>
1

On the other hand, in the following, only the `print(x)` command is indented, so only that command is repeated by the for loop.  The other two `print` commands are executed after the for loop has completed.

In [63]:
for x in mystring:
    print(x) # only this line is in the loop!
print(type(x))
print(len(x))

H
e
l
l
o
,

w
o
r
l
d
<class 'str'>
1

In [64]:
for x in mytuple:
    print(x)

3
1
4
1

In [65]:
for x in myset:
    print(x)

1
3
4

In [66]:
myset # recall that there is no order in a set

{1, 3, 4}

Here is our first example of a range object.  In this case, it is used as a quick way to repeat the print statement 5 times.

In [67]:
range(5)

range(0, 5)

In [68]:
for i in range(5):
    print("Hello, world")

Hello, world
Hello, world
Hello, world
Hello, world
Hello, world

The syntax in ``range`` is very similar to the slicing syntax from above: in particular, 
* **The step size comes at the end.**
* **The right endpoint is usually not included.**

In [69]:
for i in range(2,10,3):
    print(i)

2
5
8

==================================================

_**<font color = blue>In-class Exercise 1</font>**_: Modity the above for-loop, output from 10 to 3.

In [140]:
# write your code below

==================================================

The expression `range(10,3,-1)` above is its own type of object, a `range` object.

In [71]:
myrange = range(10,3,-1)

In [72]:
type(myrange)

range

In [73]:
myrange

range(10, 3, -1)

In [74]:
myrange2 = range(3,1000)

In [75]:
myrange2[0] # the first element

3

In [76]:
myrange2[-1] # the last element, cannot go beyond the ending point

999

Range objects support slicing.  That's not too important; maybe the most interesting thing about slicing in the context of range objects is that it again produces a range object.

In [77]:
# recall that: myrange2 = range(3,1000), and [10:100:4] has the starting point 10, ending point (not included) 100, step size 4
# so we have: myrange2[10]=13, myrange2[100]=103 
myrange2[10:100:4]

range(13, 103, 4)

You can also compute the length of a range object, the same way as you can compute the length of a string, list, tuple, or set.

In [78]:
# There are total of 998 elements from 3 to 1000. Since the right endpoint is not included, we have 997 elements.
len(myrange2)

997

### ints, floats, and bools

==================================================

_**<font color = blue>In-class Exercise 2</font>**_: Execute the following commands.

In [ ]:
# 1. What do these two lines mean?
z = 10/2
z == 5

In [ ]:
# 2. Compare the outputs.
True
true

In [ ]:
# 3. Check the data type
False
type(False)

==================================================

``bool`` -- Boolean values, which can be either **True** or **False**. Booleans are often used in programming for decision-making and conditional statements.

Since `z == 5` is `True`, can we use `range(z)` instead of `range(5)`?

In [82]:
range(z)

TypeError: 'float' object cannot be interpreted as an integer

The problem is: `z` was defined as `10/2`, Python set its data type as a **floating point number** (like a decimal, not an integer), and range objects can only be created using **integers.**

In [83]:
type(5)

int

In [84]:
type(z)

float

Because computers can only specify decimals (floats, real numbers) to a finite degree of precision, some subtleties are inevitable.  One consequence is that it is **almost never correct to ask if two floating points are equal.**  Here is an example where two floats are obviously mathematically equal, but Python reports them as being unequal.

In [85]:
(0.1 + 0.1 + 0.1) == 0.3

False

### dictionaries

Dictionary -- is one of the most common data types. They start off looking pretty similar to sets, but are an entirely diferent data type. Here are some key characters:
* **Store a collection of key-value pairs.**
* **Unordered.**
* **Mutable.**
* **Each key in a dictionary must be unique, and it is used to access its corresponding value.**
* **Dictionaries are defined using curly braces {}, and key-value pairs are separated by colons.**

In [86]:
# This example is provided by GPT-3.5
# Creating a dictionary
my_dict = {
    "key1": "value1",
    "key2": "value2",
    "key3": "value3"
}

# Accessing values using keys
print(my_dict["key1"])  # Output: "value1"
print(my_dict["key2"])  # Output: "value2"

value1
value2

In [4]:
d = {"A": 90, "B": 80, "C": 70, "D": 60, "F": 0}

In [88]:
type(d)

dict

==================================================

_**<font color = blue>In-class Exercise 3</font>**_: Execute the following commands.

In [5]:
d["C"]

70

In [6]:
d[20]

KeyError: 20

In [7]:
d[0]

KeyError: 0

==================================================

You should use the "key" to access its "value".

Here is an example of adding a new key to the dictionary.  Notice how it gets displayed without quotation marks, because `0` is not the same as `"0"` (the first one is an integer, while the second one is a string).

In [8]:
d[0] = [3,1,4,1]

In [9]:
d

{'A': 90, 'B': 80, 'C': 70, 'D': 60, 'F': 0, 0: [3, 1, 4, 1]}

We can also change a value associated to a key using the same kind of syntax.  Notice how the old value gets deleted; there cannot be repeated keys in a dictionary.

In [94]:
d["B"] = 85

In [95]:
d

{'A': 90, 'B': 85, 'C': 70, 'D': 60, 'F': 0, 0: [3, 1, 4, 1]}

I probably should have done this earlier, but here is how you access the value associated for example to the key `"C"`.

Here we add a new key, and the value is itself a dictionary.  The two things to notice in this next example are that both `0` and `"0"` show up as keys, and that a dictionary can be a value in a dictionary.

In [96]:
d["0"] = {"hello": "first word", "world": "second word"}

In [97]:
d

{'A': 90,
 'B': 85,
 'C': 70,
 'D': 60,
 'F': 0,
 0: [3, 1, 4, 1],
 '0': {'hello': 'first word', 'world': 'second word'}}

Remember that **lists were not allowed to go in sets, but tuples were allowed.**  It is the same with keys in dictionaries.  (Values in dictionaries can be anything, but there are restrictions on keys; the same restrictions as on elements in sets.)

In [98]:
myset = {3,1,[4,1]}

TypeError: unhashable type: 'list'

In [99]:
{3,1,(4,1)}

{(4, 1), 1, 3}

We get the exact same error if we try to make the list `[4,1]` a key in our dictionary.

In [100]:
d[[4,1]] = 1

TypeError: unhashable type: 'list'

But making the tuple `(4,1)` a key in our dictionary works fine.

In [101]:
d[(4,1)] = 1

In [102]:
d

{'A': 90,
 'B': 85,
 'C': 70,
 'D': 60,
 'F': 0,
 0: [3, 1, 4, 1],
 '0': {'hello': 'first word', 'world': 'second word'},
 (4, 1): 1}

### Converting from one type to another

In [103]:
mylist = [3,1,4,1]

Creating a tuple out of `mylist` and does not actually change the value of `mylist` itself.

In [104]:
tuple(mylist)

(3, 1, 4, 1)

In [105]:
type(mylist)

list

If you actually want to be able to use that tuple you've created, you need to rename/save it.

In [106]:
x = tuple(mylist)

In [107]:
type(x)

tuple

In [108]:
x

(3, 1, 4, 1)

Many of the objects we have seen so far can be converted into other data types.  For example: string --> list.

In [109]:
s = "Hello world"

In [110]:
list(s) # a lits of characters

['H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [111]:
for x in s:
    print(x)

H
e
l
l
o

w
o
r
l
d

Here is an example where conversion does not work.  This particular list `mylist` cannot be converted to a dictionary.

In [112]:
mylist

[3, 1, 4, 1]

In [113]:
dict(mylist)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

We can convert a list to a dictionary, if we’re a little more careful and make it easy for Python to gather key-value pairs.  

For example, this list of length-2 tuples can be converted.  Python interprets the 0th element in each tuple as the key and the 1st element in each tuple as the value.  (Remember that keys can't be repeated in a dictionary, which is why we only see the key `1` one time. **Each key can only have one value.**)

In [114]:
mylist2 = [(3,"a"),(1,"b"),(1,"c")]

In [115]:
dict(mylist2) # the value to the key "1" has been overwritten

{3: 'a', 1: 'c'}

A surprisingly useful conversion (that is often done automatically) is going from the Boolean values `True` and `False` to the integer values `1` and `0` (respectively).  One reason this is useful is that if you add together the elements in a list or array of Trues and Falses, the result will be exactly the number of Trues.

In [116]:
int(True)

1

In [117]:
int(False)

0

You can also add an integer to a Boolean value, and Python will automatically convert the Boolean value to an integer before doing the addition.  This functionality itself is not very important, but it's very important to remember in general that **`True` corresponds to `1` and that `False` corresponds to `0`.**

In [118]:
4+True

5

### Timing comparisons

A fundamental example of sets over lists and tuples is that you can search in a set much faster.

In [119]:
10000000

10000000

That integer is pretty hard to read.  Notice that we **cannot** make exponents in Python using the caret symbol `^`, instead you have to use `**`.
`^`: Bitwise XOR (you don't need to worry about this)

In [120]:
10^7

13

In [121]:
10**7

10000000

==================================================

_**<font color = blue>In-class Exercise 4</font>**_: Make a range object from 0 to 10000000, with step size 3. Then convert it into a list, into a tuple, and into a set.

In [136]:
# write your code below

==================================================

Here we use the operator `in` to check if `0` is in the corresponding object.

In [126]:
0 in mylist

True

In [127]:
1 in mylist

False

Here is a special feature of Jupyter notebooks, where we can time how long an operation takes.

In [14]:
%%timeit
0 in mylist

27.6 ns ± 0.0593 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

## Other useful links

Christopher's youtube video playlist: https://www.youtube.com/watch?v=w3HxawiC-7s&list=PLHfGN68wSbbIuSS-Y1Y5zYDPN59OaggpA